*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-btn-blue: #0a66fc;
	--color-bg-hero: #b4d0e7;
	--color-square-designit: #a2d39b;
	--color-square-asu: #61082b;
	--color-square-florida: #0093ce;
	--color-square-topps: #ff1c1c;
	--color-square-vbr: #d5001f;
	--color-square-hcorp: #b4d0e7;
	--color-square-lonely: #0d2481;
	--color-square-clearec: #ffd830;
	--color-bg-footer: #000000;
}
header{
    width: 100vw;
    height:100%;
    background-color: var(--color-bg-hero);
}
body{
    font-family: 'Fredoka', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Linear B', sans-serif;
font-size: 30px;
}
main{
    width: 100%;
    height: 100%;
}

.btn-blue{
    background-color: var(--color-btn-blue);
    color: white;
    padding: 5px;

}

.begin{
    margin-top: 50px;
    font-size: 2em;
}
/* utility */
.wrapper{
  flex-wrap: wrap;
}
.debug{
    border: solid 1px black;
}
.container{
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;

}
.d-flex{
    display: flex;
    flex-direction: row;
  
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
    align-content: center;
}

.align-start{
    align-items: flex-start;
    align-content: flex-start;
}

li{
    list-style: none;
   padding: 10px
}
/* header */
nav{
    width: 100%;
    height: 120px;
    background-color: white;
    overflow: hidden;
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.1em;
    z-index: 1000;
   }

section{
    margin-top: 100px;
}
#logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
a .hero-text{
    padding: 5px;
    font-size: 2em;
    margin-top: 100px;

}
a{
    text-decoration: none;
    margin: 30px;
    
}
img.hero{
    width: 100%;
height: 400px;
    object-fit: cover;
}

/* main */

.card{
    padding: 10px;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.first-box{
    margin: 100px;
}
#partner{
    margin-top: 50px;
}
.partner-text{
    margin: 20px;
}
#btn-partner{
    border: solid black 1px;
    margin-top: 20px;
    padding: 5px;
}

/* footer */




h1{
   
    font-size: 7em;
    font-weight: bolder;
    margin: 100px;
}
.hero{
    width: 100%;
    position: relative;
}


.hero-text{
   margin-top: 100px;
   width: calc(100% / 3);
   height: 100%;
   float: left;
}
.hero-img{
   
    width: calc((100% / 3) * 2);
    min-height: 500px;
    float: left;
    display: block;
    position: relative;
    top: 120px;
    
 }
.box{
    display: inline-block;
    width: calc(100vw / 3 );
    height: 100vh;
    margin: 50px;
    padding: 10px;
    }

 #jumbo{
        width: 100%;
     }

.box-card-1{
    
    /* padding-top: 50px; */
    height: 100vh;
}


.b-card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    padding: 20px;
}
.img-b-card{
    width:100%;
}