*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-btn-blue: #0a66fc;
	--color-bg-hero: #b4d0e7;
	--color-square-designit: #a2d39b;
	--color-square-asu: #61082b;
	--color-square-florida: #0093ce;
	--color-square-topps: #ff1c1c;
	--color-square-vbr: #d5001f;
	--color-square-hcorp: #b4d0e7;
	--color-square-lonely: #0d2481;
	--color-square-clearec: #ffd830;
	--color-bg-footer: #000000;
}

/* utility */
.debug{
    border: solid 1px black;
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
    align-content: center;
}

.align-start{
    align-items: flex-start;
    align-content: flex-start;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}